body {
    padding: 0;
    margin: 0;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: white;
    padding: 1em 1em 1em 1em;
    background-image: linear-gradient(to right, rgb(10, 14, 243), purple);
}

.city-search {
    padding-left: 1em;
}

h2 {
    font-size: 2em;
}